[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
tensorflow = "*"
tensorflow_recommenders = "*"
tensorflow_hub = "*"
pandas = "*"
numpy = "*"
nltk = "*"
matplotlib = "*"



[dev-packages]

[requires]
python_version = "3.8"



